.webcam{ 
    margin-left: auto; 
    margin-right: auto; 
    border: 5px solid black; 
    position: relative; 
    right: 20%; 
}

.calib-container{ 
    display: flex; 
    align-content: center; 
    margin-top: 12%; 
}

.calibrate{ 
    position: relative; 
    right: 275%; 
    margin-top: 125%;  
    min-height: 100px;
    font-size: 50px; 
    width: 200%; 
    border-radius: 20px;
    background-color: #6f8bb7; 
    font-weight: bold; 
}
.calibrate:hover{ 
  font-weight: bolder; 
  font-size: 52px; 
  text-shadow: 2px 2px silver; 
  background-color: #ded08d; 
}

.screen-shots{ 
    visibility: hidden;
}
