.webcam{ 
    position: relative; 
    left: 500px; 
    margin-top: 6%; 
    border: 5px solid black; 
}

.calib-container{ 
    display: flex; 
    align-content: center; 
    flex-direction: column; 
    margin-top: 16%; 
}

.calibration-stage{ 
    height: 0px; 
}

.calibrate{ 
    font-size: 50px; 
    width: 50%; 
    border-radius: 20px;
    background-color: #6f8bb7; 
    font-weight: bold; 
}
.calibrate:hover{ 
  font-weight: bolder; 
  font-size: 52px; 
  text-shadow: 2px 2px silver; 
  background-color: #ded08d; 
}

.screen-shots{ 
    visibility: hidden;
}
