.webcam{ 
  position: relative; 
  top: 10px;  
}

.calibration-stage{ 
  position: absolute; 
  z-index: 1; 
  top: 10px; 
}

.screen-shots{ 
  display : none; 
}

.feedback{ 
  position : relative; 
  top: 10px; 
}

img{ 
  left: 0px; 
  position: relative; 
  top: 0px; 
  width: 100%; 
  height: 100%; 
}
img:hover{ 
  background-color: gold; 
}

.icon{ 
  margin: 0px; 
  float: right; 
  width: 100%; 
  height: 100%; 
}
